# Dépendances
node_modules/

# Build
dist/
build/
*.ccx

# Tests
coverage/

# Logs
npm-debug.log*
yarn-error.log*
*.log

# Environnements
.env
.env.local
.env.*.local

# Éditeurs et OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Caches d'outillage
.eslintcache
.vite/
